body{
  background-image: linear-gradient(to right, white, gray,black);
  /* background-color: black; */
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: whitesmoke;
  flex-direction: column;
}